<section id="aboutHead" class="headerImg" style="background-image: url('../css/static/images/aboutHeader.jpg')">
	<div class="innerHeader">
		<h1 class="clientTheme">Minimally Invasive Aesthetics</h1>
		<a href="#/about/drNguyen"><button class="displayButton">Meet Dr. Nguyen</button></a>
		<a href="#/proceduresMenu"><button class="displayButton">View Procedures</button></a>

	</div>
	



	<!-- sdfdsf -->
	
</section>

<section class="informationSection">
	<h3>MIA</h3>
	<p>
		We are a plastic surgery boutique that caters to our patient aesthetic needs. We aim to pamper our patients as they go through the beauty process. At MIA, we take great care to listen to our patient to understand exactly what our patient want so we can deliver the results at surgery. Our patients satisfaction is how we measure our success.  You will feel the difference the moment you step through our doors.
	</p>

<!-- 	<p>
		We also believe that not everything requires a surgical procedure to achieve the look that you want.  We offer a full array of services from injectibles such as BOTOX®, DYSPORT®, Restylane®,Juvederm®  as well as skin care and lasers. We have the sought after ZO Skinhealth® System, Hydrafacia MD®, as well as Biocellar (stem/stromal cells) therapy. We are the specialist in providing non-surgical repair, maintenance, and rejuvenation.  We are here to help you look youthful longer with minimal maintenance.
	</p> -->

	<p>
		Call us at <a href="tel:8328048992"><span class="clientTheme">832.804.8992</span></a> for a complimentary consultation and you will see the difference.
	</p>
</section>
