<section id="homeHead">
	<h1 class="clientTheme">THE ART OF MIA</h1>
	<button class="displayButton">About MIA</button>
	<a href="#/proceduresMenu"><button class="displayButton">View Procedures</button></a>
</section>
<section class="contents">
	<h2 class="clientTheme">THE MIA DIFFERENCE</h2>
	<br><br>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan vitae eros non dignissim. In aliquam sodales tortor, at hendrerit urna sodales nec. Etiam rutrum ipsum sed mi sagittis, sed condimentum mauris laoreet. Sed faucibus placerat lorem, quis dapibus lacus tincidunt et. Quisque rutrum pretium venenatis. In ultricies dictum diam, non malesuada elit mollis a. Duis euismod tellus hendrerit arcu tincidunt, et tempus dui tristique.</p>
</section>

<br><br>
<br><br>
<br><br>
<br><br>