<section>
	<div class="procedures">

		<a href="#/proceduresMenu/faceProcedures">
			<div id="pm1" class="procedureMenu col span-3-of-12" style='background-image: url("https://s-media-cache-ak0.pinimg.com/736x/da/7d/ce/da7dce7f780d17038b8e19a78e42680e.jpg");'>

				<h2 class="clientTheme">Face</h2>
			</div>
		</a>

		<a href="#/proceduresMenu/skinProcedures">
			<div id="pm2" class="procedureMenu col span-3-of-12" style='background-image: url("https://a2ua.com/model/model-009.jpg");'>
				<h2 class="clientTheme">Skin</h2>
			</div>
		</a>

		<a href="#/proceduresMenu/bodyProcedures">
			<div id="pm3" class="procedureMenu col span-3-of-12" style='background-image: url("http://modelisto.com/photo/ginny-connor-model-90377.jpg");'>
				<h2 class="clientTheme">Body</h2>
			</div>
		</a>

		<a href="#/proceduresMenu/breastsProcedures">
			<div id="pm4" class="procedureMenu col span-3-of-12" style='background-image: url("../css/static/images/breasts.png");'>
				<h2 class="clientTheme">Breasts</h2>
			</div>	
		</a>
	</div>
	

</section>